<%= render "shared/header" %>

<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2><%= @user.name %></h2>
      <%= link_to "編集する", edit_user_path, class: 'btn'%>
      <%= link_to "チャットページに戻る", rooms_path, class: 'btn'%>
      <% if signed_in? current_user == @user %>
        <%= link_to "メッセージを送る", root_path, class: 'btn'%>
      <% end %>
      <div id="follow_form">
        <% if signed_in? current_user == @user %>
          <% if current_user.following?(@user) %>
            <%= render 'unfollow' %>
          <% else %>
            <%= render 'follow' %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: @user, local: true do |f|%>

        <div class='field'>
          <div class="stats">
            <%= render 'users/stats' %>
          </div>
        </div>

        <div class='field'>
          <div class='field-label'>
            <%= f.label :Birthday %><%= @user.birthday %>
          </div>
        </div>

      <div class="field">
        <div class="field-label">
          <%= f.label :Introduction %> <%= @user.introduction %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
