<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'ORIAPP', root_path, class: "lists-left" %></li>
    </ul>
    <ul class='lists-down'>
      <li><%= link_to 'メーカー', makers_path, class: "category" %>
      <%= link_to '商社', root_path, class: "category" %>
      <%= link_to '流通・小売', root_path, class: "category" %>
      <%= link_to '金融', root_path, class: "category" %>
      <%= link_to 'サービス・インフラ', root_path, class: "category" %>
      <%= link_to 'ソフトウエア・通信', root_path, class: "category" %>
      <%= link_to '広告・出版・マスコミ', root_path, class: "category" %>
      <%= link_to '官公庁・公社・団体', root_path, class: "category" %>
      <%= link_to 'その他', root_path, class: "category" %></li>
    </ul>

    <% if user_signed_in? %>
      <ul class='lists-right'>
        <li><%= link_to current_user.nickname, "#", class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      </ul>
    <% else %>
      <ul class='lists-right'>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      </ul>
    <% end %>
  </div>
</header>